extends base.pug

block head
    title ImagePlaySite | About
    meta(name="description", content="ImagePlaySite is a FREE image manipulation site, here you can find various tools that can be used to manipulate images and PDFs.")
    meta(name="keywords", content="about page, ImagePlaySite")
    link(rel="canonical", href="https://imageplaysite.com/about")
    link(rel="stylesheet", href="style/about.css")
    meta(name="og:title", content="ImagePlaySite | About")
    meta(name="og:description", content="ImagePlaySite is a FREE image manipulation site, here you can find various tools that can be used to manipulate images and PDFs.")
    meta(name="og:image", content="https://imageplaysite.com/images/jpg_format.png")
    meta(name="og:type", content="website")
    meta(name="og:url", content="https://imageplaysite.com/about")

block content

        main
            div(class="about-con")
                h1 About Us
                p ImagePlaySite is a "FREE" image manipulation site, here you can find various tools that can be used to manipulate images and PDFs. tools like resizing images, changing image format, changing colored images to black and white, black and white images to color images, Image to PDF, PDF Merger, PDF Compressor, etc.
            
