doctype html
html(lang="en")
    head
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2141473836877428" crossorigin="anonymous"></script>
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style/index.css")
        link(rel="shortcut icon", href="images/favicon.png", type="image/x-icon")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        block head
    body 
        block navbar 
            header 
                nav 
                    div(class="nav-con")
                        div(class="sub-nav-con")
                            div(class="company-con") 
                                a(href="/") 
                                    p ImagePlaySite
                            div(class="menu-con")
                                ul 
                                    a(href="/")
                                        li Home 
                                    
                                    li(class="tool-con") Tools
                                        ul(class="tool-types")
                                            a(href="/change-image-format-to-jpg-png-bmp-tiff-gif")
                                                li Change Image Format
                                            a(href="/change-format-and-resize-image-width-height")
                                                li Resize Image
                                            a(href="/convert-image-to-black-and-white")
                                                li Color To Black and white
                                            a(href="/compress-image-online")
                                                li Compress Image
                                            a(href="/crop-image-with-different-shapes-star-rectangle-circle-square-triangle-diamond-online")
                                                li Image Crop
                                            a(href="/convert-image-to-pdf-in-A4-A5-A6-A7-sizes")
                                                li Image To PDF
                                    
                                    a(href="/contact")
                                        li Contact

                                    a(href="/about")
                                        li About

                            div(class="hambuger" onclick="phone_nav()" id="hamburger_btn")
                                img(src="images/bar.svg", alt="")
                    
                    div(class="tool-con-con")
                        ul
                            a(href="/change-image-format-to-jpg-png-bmp-tiff-gif")
                                li Change Image Format
                            a(href="/change-format-and-resize-image-width-height")
                                li Resize Image
                            a(href="/convert-image-to-black-and-white")
                                li Color To Black and white
                            a(href="/compress-image-online")
                                li Compress Image
                            a(href="/crop-image-with-different-shapes-star-rectangle-circle-square-triangle-diamond-online")
                                li Image Crop
                            a(href="/convert-image-to-pdf-in-A4-A5-A6-A7-sizes")
                                li Image To PDF


                div(class="phone-nav"  id="pho_nav")
                    ul 
                        
                        a(href="/")
                            li Home

                        li(class="tool-con") Tools
                            ul(class="tool-types")
                                a(href="/change-image-format-to-jpg-png-bmp-tiff-gif")
                                    li Change Image Format
                                a(href="/change-format-and-resize-image-width-height")
                                    li Resize Image
                                a(href="/convert-image-to-black-and-white")
                                    li Color To Black and white
                                a(href="/compress-image-online")
                                    li Compress Image
                                a(href="/crop-image-with-different-shapes-star-rectangle-circle-square-triangle-diamond-online")
                                    li Image Crop
                                a(href="/convert-image-to-pdf-in-A4-A5-A6-A7-sizes")
                                    li Image To PDF

                        a(href="/contact")
                            li Contact
                        a(href="/about")
                            li About

        block content 

        block footer 
            footer 
                div(class="footer-div") 
                    p  &copy; Copyright 2023 | All Rights Reserved
                    p 
                        a(href="/terms-and-conditions")
                            span(class="condition") Terms and Conditions  
                        a(href="/privacy-policy")
                            span(class="condition") | Privacy Policy 
                    p 
                        a(class="mail_foot" href="mailto:help@imageplaysite.com")
                            span(class="condition") ravit7695@gmail.com
        

        script(src="javascript/base.js") 
        //- <script src="https://use.fontawesome.com/3a2eaf6206.js"></script>
