extends base.pug

block head
    title ImagePlaySite | Contact
    meta(name="description", content="Have any questions? You can freely contact us on help@imageplaysite.com")
    meta(name="keywords", content="contact us page imageplaysite, imageplaysite contact")
    link(rel="canonical", href="https://imageplaysite.com/contact")
    link(rel="stylesheet", href="style/contact.css")
    meta(name="og:title", content="ImagePlaySite | Contact")
    meta(name="og:description", content="Have any questions? You can freely contact us on help@imageplaysite.com")
    meta(name="og:type", content="website")
    meta(name="og:url", content="https://imageplaysite.com/contact")

block content

        main
            h1 Contact Us 
            div(class="container")
                p You can contact this email for any queries. we help and support you.
                a(class="mail" href="mailto:ravit7695@gmail.com")
                    | ravit7695@gmail.com
            
