extends base.pug

block head
    //- link(rel="stylesheet", href="/style/B_W_image.css")
    link(rel="stylesheet" type="text/css" href="./style/cropper.css")
    link(rel="stylesheet", href="./style/crop_page_style.css")
    title Crop Image with Different Shapes - star - triangle - diomand - circle - rectangle - Free Service | ImagePlaySite
    meta(name="robots", content="noindex, nofollow")

block content

        main
            <div class="main-crop-user-con"> 
                <h1>Crop Image with Different Shapes - star, triangle, diomand, circle, rectangle</h1>
                <div class="main-con">
                    <div class="container">
                        h2 Orignal Image 
                            span(id="tool-box-display") &#60;
                        <div class="my-img-con">
                            img(id="image" src=url alt="UnCroped Image")
                        </div>
                        h2 Croped Image
                        <div id="result"></div>
                    </div>
                    <div class="tool-con" id="tool-con">
                        <div class="sticky-div"> 
                            h2 Cropping Shapes 
                                span(class="cross-con" id="cross-con") &#10060;
                            <div class="shape-con">
                                span(title="triangle" onclick="changeShape('triangle')") &#9651;
                                span(title="square" onclick="changeShape('square')") &#9633;
                                span(title="rectangle" onclick="changeShape('rectangle')") &#9645;
                                span(title="diamond" onclick="changeShape('diamond')") &#9671;
                                span(title="circle" onclick="changeShape('circle')") &#9675;
                                span(title="star" onclick="changeShape('star')") &#9734;
                            </div>
                            <div class="crop-btn-con">
                                button(type="button" id="button") Crop
                                a(href=url id="download" download="result.png") Download 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        script(src="./javascript/cropper.js")
        script(src="./javascript/img_crop.js") 