extends base.pug

block head
    link(rel="stylesheet", href="/style/B_W_image.css")
    title Compress PDF - Free Service | ImagePlaySite
    meta(name="robots", content="noindex, nofollow")

block content

        main
            div(class="main-content-con")
                div(class="content-con") 
                    h1 PDF Compressed Sucessfuly
                    div(class="main-con")
                        a(href=url, download) Download

        script(src="/javascript/down_extract_img.js") 