extends base.pug

block head
        link(rel="stylesheet", href="/style/merge_pdf_user.css")
        link(rel="stylesheet", href="/style/load_s.css")
        title PDF Merger - Free Service | ImagePlaySite
        meta(name="robots", content="noindex, nofollow")

block content

        div(class="anim-com")
                        div(class="first-e")
                        div(class="second-e")
                        div(class="third-e")

        div(class="content-con")
                div(class="main-pdf-con")
                button(class="merger-btn") MERGE
                div(class="pdf-con")

        script(src="javascript/merge_pdf_user.js") 