extends base.pug

block head
        link(rel="stylesheet", href="style/privacy.css")
        title ImagePlaySite | Home
        meta(name="description", content="privacy policy of imageplaysite.com")
        meta(name="keywords", content="ImagePlaySite, privacy policy of imageplaysite, privacy policy page imageplaysite")
        link(rel="canonical", href="https://imageplaysite.com/privacy-policy")
        meta(name="og:title", content="ImagePlaySite | Contact")
        meta(name="og:description", content="privacy policy of imageplaysite.com")
        meta(name="og:type", content="website")
        meta(name="og:url", content="https://imageplaysite.com/privacy-policy")

block content

        main

            div(class="privacy-con")

                <h2 style="text-align: center;"><b>PRIVACY POLICY</b></h2>
                <p>1. <b>Introduction</b></p>
                <p>Welcome to <b> imageplaysite</b>.</p>
                <p><b>imageplaysite</b> (“us”, “we”, or “our”) operates <b>imageplaysite.com</b> (hereinafter referred to as <b>“Service”</b>).</p>
                <p>Our Privacy Policy governs your visit to <b>imageplaysite.com</b>, and explains how we collect, safeguard and disclose information that results from your use of our Service.</p>
                <p>We use your data to provide and improve Service. By using Service, you agree to the collection and use of information in accordance with this policy.</p>
                <p>2. <b>Definitions</b></p>
                <p><b>COOKIES</b> are small files stored on your device (computer or mobile device). Imageplaysite uses cookies to store information about visitors' preferences. The information is used to enhance the users' experience by customizing web page content based on visitors' behavior.</p>

                <p><b>UPLOADED IMAGES</b> are temporarily stored in the web server. the uploaded photos are automatically deleted within thirty minutes. </p>

                <p><b>PERSONAL INFOMATION</b> imageplaysite does not collect personal information like name, age, address, etc. we also do not ask if the user is an adult or children.</p>

                <p><b>Google Analytics</b> is a web analysis service from Google Inc. Google Analytics collects personal data to track and examine the use of the Website, prepare reports on its activities and share them with other Google Inc. services? Google Inc. may use the collected data to personalize the ads of its advertising network. Google Analytics collects cookies and usage data.</p>

                <p><b>Modification of the terms</b> imageplaysite reserves the right to modify this Privacy Policy at any time without notice, and by using this Website you are expected to review this Privacy Policy on a regular basis.</p>


                <p>3. <b>Your Data Protection Rights Under General Data Protection Regulation (GDPR)
                </b></p>
                <p>If you are a resident of the European Union (EU) and European Economic Area (EEA), you have certain data protection rights, covered by GDPR.</p>
                <p>We aim to take reasonable steps to allow you to correct, amend, delete, or limit the use of your Personal Data.</p>
                <p> If you wish to be informed what Personal Data we hold about you and if you want it to be removed from our systems, please email us at <b>help@imageplaysite.com</b>.</p>
                <p>In certain circumstances, you have the following data protection rights:</p>
                <p>0.1. the right to access, update or to delete the information we have on you;</p>
                <p>0.2. the right of rectification. You have the right to have your information rectified if that information is inaccurate or incomplete;</p>
                <p>0.3. the right to object. You have the right to object to our processing of your Personal Data;</p>
                <p>0.4. the right of restriction. You have the right to request that we restrict the processing of your personal information;</p>
                <p>0.5. the right to data portability. You have the right to be provided with a copy of your Personal Data in a structured, machine-readable and commonly used format;</p>
                <p>0.6. the right to withdraw consent. You also have the right to withdraw your consent at any time where we rely on your consent to process your personal information;</p>
                <p>Please note that we may ask you to verify your identity before responding to such requests. Please note, we may not able to provide Service without some necessary data.</p>
                <p>You have the right to complain to a Data Protection Authority about our collection and use of your Personal Data. For more information, please contact your local data protection authority in the European Economic Area (EEA).</p> 


                <p>4. <b>Contact Us</b></p>
                <p>If you have any questions about this Privacy Policy, please contact us by email: <b>help@imageplaysite.com</b>.</p>