extends base.pug

block head
        link(rel="stylesheet", href="style/privacy.css")
        title ImagePlaySite | Home
        meta(name="description", content="privacy policy of imageplaysite.com")
        meta(name="keywords", content="ImagePlaySite, privacy policy of imageplaysite, privacy policy page imageplaysite")
        link(rel="canonical", href="https://imageplaysite.com/privacy-policy")
        meta(name="og:title", content="ImagePlaySite | Contact")
        meta(name="og:description", content="privacy policy of imageplaysite.com")
        meta(name="og:type", content="website")
        meta(name="og:url", content="https://imageplaysite.com/privacy-policy")

block content

        main

            div(class="privacy-con")


                <h2 style="text-align: center;"><b>TERMS AND CONDITIONS</b></h2>
                <p>1. <b>Introduction</b></p>
                <p>Welcome to <b>imageplaysite</b> (“Company”, “we”, “our”, “us”)!</p>
                <p>These Terms of Service (“Terms”, “Terms of Service”) govern your use of our website located at <b>imageplaysite.com</b> (together or individually “Service”) operated by <b>imageplaysite</b>.</p>
                <p>Our Privacy Policy also governs your use of our Service and explains how we collect, safeguard and disclose information that results from your use of our web pages.</p>
                <p>Your agreement with us includes these Terms and our Privacy Policy (“Agreements”). You acknowledge that you have read and understood Agreements, and agree to be bound of them.</p>
                <p>If you do not agree with (or cannot comply with) Agreements, then you may not use the Service, but please let us know by emailing at <b>help@imageplaysite.com</b> so we can try to find a solution. These Terms apply to all visitors, users and others who wish to access or use Service.</p>
                <p>2. <b>Communications</b></p>
                <p>By using our Service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or by emailing at help@imageplaysite.com.</p>


                <p>3. <b>Uploaded Content</b></p><p>uploaded  Content to this Website must not infringe any third-party license.</p>

                <p>4. <b>Your Privacy</b></p><p>Please read our <a href="/privacy-policy">Privacy Policy</a></p>

                
                <p>5. <b>Copyright Policy</b></p>
                <p>We respect the intellectual property rights of others. It is our policy to respond to any claim that Content posted on Service infringes on the copyright or other intellectual property rights (“Infringement”) of any person or entity.</p>
                
               
                <p>6. <b>Contact Us</b></p>
                <p>Please send your feedback, comments, requests for technical support by email: <b>help@imageplaysite.com</b>.</p>
